.loginPage{
    height: 100vh;
}
.LoginForm{
    min-width: 370px;
}
.loginPage h1{
    text-align: center;
}
.LoginForm label{
    font-size: 18px ;
    font-weight: 500;
}
.LoginForm button {
    background-color: rgb(0, 96, 0);
}